:root {
  --dark: #1b1b1b;
}

.about-link {
  color: white;
  font-family: "Archivo";
  font-size: 1.25rem;
  letter-spacing: 0.01875rem;
  text-decoration: none;
}

body {
  background-color: var(--dark);
}

.content {
  width: 80%;
}

.hero {
  background-image: url(media/Hero.png);
  height: 700px;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
}

.hero h1 {
  font-family: "Archivo Black";
  font-size: 5rem;
  letter-spacing: -0.5rem;
}

.hero h2 {
  font-family: "Rock Salt";
  font-size: 1.7rem;
  line-height: 125%;
}

.more-button {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-family: "Archivo Black";
}

.more-button:hover {
  background-color: rgba(255, 255, 255, 0.4); /* White with 40% opacity */
  color: black;
  border: none;
}

.more-button:active {
  background-color: white;
  color: var(--dark);
}

.project-container {
  color: white;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 20%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-start; /* Align text to the left */
}

.project-container h2 {
  font-family: "Rock Salt";
}

.projects-header {
  text-align: center;
  color: white;
}

hr {
  margin: -1rem 0 1rem;
  border-top: 1px white solid;
  opacity: 1;
}

@media (max-width: 991px) {
  /* Apply styles when screen width is 991px or smaller */
  .d-none.d-lg-block {
    display: none; /* Hide the image */
  }

  .project-container {
    flex: 1; /* Take up full width */
  }
}

@media (max-width: 1375px) {
  .hero {
    width: 80%;
    padding: 50px 0;
    height: 200px;
    text-align: center;
  }

  .hero h1 {
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1rem;
  }

  .hero h2 {
    font-size: 0.5rem;
    line-height: 130%;
    margin-bottom: 0 !important;
  }

  .about-link {
    display: none;
  }
}
