:root {
  --dark: #1b1b1b;
}

body {
  background-color: var(--dark);
}

.content {
  width: 80%;
}

.project-description {
  color: white;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 20%);
  border-radius: 8px;
}

.projects-header {
  text-align: center;
  color: white;
}

.about-link {
  color: white;
  font-family: "Archivo";
  font-size: 1.25rem;
  letter-spacing: 0.01875rem;
  text-decoration: none;
}

hr {
  margin: -1rem 0 1rem;
  border-top: 1px white solid;
  opacity: 1;
}

.hero {
  background-image: url(media/Hero.png);
  height: 700px;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
}

.hero h1 {
  font-family: "Archivo Black";
  font-size: 5rem;
  letter-spacing: -0.5rem;
}

.hero h2 {
  font-family: "Rock Salt";
  font-size: 1.7rem;
  line-height: 125%;
}
